 
<section class="section">
  <div class="container">
     <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
          <img src="../assets/images/logo.svg" alt=" " width="120" class="mb-5">  

    </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="p-5 shadow rounded content">
          <h2 class="section-title">Login</h2>
          <form  action="/user-profile">
            
            <div class="form-group mb-3">
              <label for="phone">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone"
                required>
            </div>
            
            <button type="submit" class="btn btn-primary mt-3">Send Otp</button>
          </form>
        </div> 
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
     <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
          <img src="../assets/images/logo.svg" alt=" " width="120" class="mb-5">  

    </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="p-5 shadow rounded content">
          <h2 class="section-title">OTP</h2>
          <form  action="/user-profile">
            
          <p>Message has Been Sent toypur phone </p>
              <div class="form-group mb-3">
              <label for="otp">Otp</label>
              <input type="text" class="form-control" id="otp" name="otp" placeholder=""
                required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Login</button>
          </form>
        </div> 
      </div>
    </div>
  </div>
</section>