<!-- <button (click)="requestPushNotification()">requestPushNotification</button> -->


<section class="section pb-0">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 class="mb-4">Check Up on people</h1>
                <p class="mb-4">
                    Upload sheet with employees data so we can check on them.
                </p>
                <div class="card match-height">
                    <div class="card-body">
                        <form>
                            <div>
                                <input class="form-control form-control-lg" id="formFileLg" type="file"
                                    (change)="onFileUpload($event)" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-lg-block d-none">
                <img src="../assets/images/banner.jpg" alt="illustration" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section class="section pb-0">
    <div class="container">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="section-title mb-0">Employees check list</h2>
            <button type="submit" class="btn btn-primary" (click)="sendSmsToEmployees()">Send Sms</button>
        </div>

        <div class="tabcontainer"></div>

        <div class="row">
            <!-- topic -->
            <div class="col-lg-12 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <nav class="nav nav-pills mb-4">
                            <button  [ngClass]="[activeTab == 'noResponse'?'btn btn-danger':'nav-link']" (click)="onChangeTab('noResponse')">No response
                                ({{noResponseEmployees.length || 0}})</button>
                            <button type="button" [ngClass]="[activeTab == 'help'?'btn btn-danger':'nav-link']" (click)="onChangeTab('help')">Need help
                                ({{needHelpEmployees.length || 0}})</button>
                            <button [ngClass]="[activeTab == 'safe'?'btn btn-danger':'nav-link']" (click)="onChangeTab('safe')">Marked as safe
                                ({{markedSafeEmployees.length || 0}}) </button>
                        </nav>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Emergency contact</th>
                                    <th scope="col">Emergency contact number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of tableData">
                                    <th scope="row">{{ entry?.id }}</th>
                                    <td>{{ entry?.name }}</td>
                                    <td>{{ entry?.mobile_number }}</td>
                                    <td>{{ entry?.location?.long }}{{entry?.location&&','}} {{entry.location?.lat}}</td>
                                    <td>{{ entry?.emergency_contact }}</td>
                                    <td>{{ entry?.emergency_contact_mobile_number }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- topic -->
        </div>
    </div>
</section>
