 
<header class="sticky-top navigation  nav-bg">
  <div class=container>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent justify-content-between">
      <div class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none" href="index.html"><img class="img-fluid bi me-2" src="../assets/images/logo.svg" alt="godocs"><span class="fs-4">Orange SOS</span></div>
       
      <div class=" text-center" id=navigation>
        
        
       
        <!-- <a href="contact.html" class="btn btn-sm btn-primary ml-lg-4">contact</a> -->
      </div>
     
    </nav>
  </div>
</header>

        <router-outlet></router-outlet>
